body {
margin: 0;
padding: 0;
background-image: url("фон.gif");
cursor: url(курс.gif), auto;
}

.webma{
position: absolute;
transform: rotate(90deg);
transform-origin: top left;
margin-left: 3vh;
margin-top: -4vh;
font-size: 1.2vw;
width: 150vw;
}

.link {
text-decoration: none;
color: black;
}

#leftmenu {
position: absolute;
width: 10vw;
height: 12vw;
top: 4vw;
left: 5%;
border: 1px solid blue;
font-size: 1vw;
}

#leftmenu img{
height: 1.5vw;
}

.рклм img{
margin-top: 10vh;
display: block;
width: 100%;
height: auto;
border: 1px solid black;
}

.rekl{
height: 390vh;
position: absolute;
border: 1px solid black;
left: 85%;
top: 0%;
font-size: 1.2vw;
}

.rek {
position: sticky;
top: 20px;
width: 10vw;
}

.rekl2{
min-height: 357vh;
position: absolute;
border: 1px solid black;
left: 5%;
top: 35%;
font-size: 1.2vw;
}

.rek2 {
position: sticky;
width: 10vw;
top: 20px;
}

.зал {
margin-bottom: 1vh;
font-size: 3vw;
text-align: center;
font-family: 'IBM Plex Mono', monospace;
}

.зал img{
width: 4vw;
}

.txt {
background: #faf0ca;
margin-top: 5vh;
box-sizing: border-box;
padding: 1vw;
border: 1px solid red;
margin-left: auto;
margin-right: auto;
width: 60vw;
text-align: justify;
font-family: 'IBM Plex Mono', monospace;
}

.txt video{
height: 60vh;
display: block;
margin-left: auto;
margin-right: auto;
}

.кор{
height: 70vh;
display: block;
margin-left: auto;
margin-right: auto;
}

.close img{
height: 1.5vw;
right: -1.3px;
position: absolute;
}


.wrapper {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 2em;
grid-row-gap: 2em;

}

.wrapper a{
text-decoration: none;
color: black;
}

.box {
text-align: center;
font-family: 'IBM Plex Mono', monospace;
}

.gena {
width: 10vw;
height: 10vw;
margin-right: auto;
margin-left: auto;
display: block;
}

.вит {
margin-top: 1vw;
font-size: 1.7vw;
font-family: 'IBM Plex Mono', monospace;
text-decoration: none;
color: black;
}

.вит img {
height: 4vh;
}

@media (max-width: 1200px) {
.rekl{
left: 5%;
top: 200%;
}

.txt {
margin-left: 20%;
}

.wrapper {
  grid-row-gap: 2vw;
  grid-template-columns: repeat(1, 1fr);
.box {
font-size: 2vw;
}
.gena {
width: 30vw;
height: 30vw;
}

}